.sb-show-main {
  margin: 0;
}
p {
  margin: 0;
}

.tab {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-around;
    margin-top: 104px;
    padding: 0 104px;

    @media screen and (max-width: 768px) {
      padding: 0 16px;
    }
  }

  &__content {
    border-top: 2px solid #00baf2;
    flex: 1;
    padding: 96px 104px 128px;
    @media screen and (max-width: 768px) {
      padding: 96px 16px;
    }
  }

  &__item {
    align-items: center;
    background-color: #f0f1f5;
    border-top: 2px solid #c9cad1;
    border-bottom: 2px solid #00baf2;;
    color: #5f6d7a;
    display: flex;
    flex: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    height: 44px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 0.67;
    position: relative;
    top: 2px;

    &:hover {
      border-top: 2px solid #949da6;
      cursor: pointer;
    }

    &:first-of-type {
      margin-right: 2px;
    }

    &:last-of-type {
      margin-left: 2px;
    }

    &::not:first-of-type, &::not:nth-last-of-type {
      margin: 0 2px;
    }
    &.active {
      background: #fff;
      border: 2px solid #00baf2;
      border-bottom: 2px solid #fff;
    }

  }

  &__title {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}
.accordion {

  &__title {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 32px;
    justify-content: space-between;
    line-height: 0.67;

  }

  &__item {
    background: none;
    border-left: 2px solid #00baf2;
    border-right: 2px solid #00baf2;
    border-bottom: 1px solid #d7d9e0;
    border-top: 1px solid #d7d9e0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: fit-content;
    overflow: hidden;
    padding: 4px 15px;

    &.collapsed {
      max-height: 48px;
      background: #f0f1f5;
      border: solid 1px #d7d9e0;
      padding: 4px 16px;
      .accordion {
        &__item-content {
          display: none;
        }
        &__title {
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.47;
          letter-spacing: normal;
          color: #273645;

          img {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &__item-content {
    padding: 16px 0;
    p {
      font-family: OpenSans, sans-serif;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.47;
      letter-spacing: normal;
      color: #273645;
    }
  }

}
