<div class="tab">
  <div class="tab__container">
    <div class="tab__item" [ngClass]="{'active': activeTab === 'tab1'}" (click)="activeTab = 'tab1'">
      <span class="tab__title">tab</span>
    </div>
    <div class="tab__item" [ngClass]="{'active': activeTab === 'tab2'}" (click)="activeTab = 'tab2'">
      <span class="tab__title">tab</span>
    </div>
    <div class="tab__item" [ngClass]="{'active': activeTab === 'tab3'}" (click)="activeTab = 'tab3'">
      <span class="tab__title">tab</span>
    </div>
  </div>
  <div *ngIf="activeTab === 'tab1'" class="tab__content">
    <div class="accordion">
      <div *ngFor="let item of firstTabStories" class="accordion__item collapsed">
        <span (click)="toggleAccordion($event)" class="accordion__title">
          {{item.title}} <img src="../../assets/img/up-arrow.svg" width="11px" alt="arrow">
        </span>
        <div class="accordion__item-content">
          <p>{{item.text}}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="activeTab === 'tab2'" class="tab__content">
    <div class="accordion">
      <div *ngFor="let item of secondTabStories" class="accordion__item collapsed">
        <span (click)="toggleAccordion($event)" class="accordion__title">
          {{item.title}} <img src="../../assets/img/up-arrow.svg" width="11px" alt="arrow">
        </span>
        <div class="accordion__item-content">
          <p>{{item.text}}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="activeTab === 'tab3'" class="tab__content">
    <div class="accordion">
      <div *ngFor="let item of thirdTabStories" class="accordion__item collapsed">
        <span (click)="toggleAccordion($event)" class="accordion__title">
          {{item.title}} <img src="../../assets/img/up-arrow.svg" width="11px" alt="arrow">
        </span>
        <div class="accordion__item-content">
          <p>{{item.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
